.input-feildfirst{
	width:330px;
	height:40px;
	margin-left:40px;

}
.input-feildsecond{
	width:330px;
	height:40px;
	margin-left:50px;
}
.input-feildthird{
	width:330px;
	height:40px;
	margin-left:40px;
	margin-top:20px;

}
.input-feildfourth{
	width:330px;
	height:40px;
	margin-left:50px;
}
.input-feildfive{
	width:330px;
	height:40px;
	margin-left:40px;
	margin-top:20px;
}
.genderfield{
	width:330px;
	height:40px;
	margin-left:50px;
	margin-top:15px;
	border:2px solid black;

}


.input-feildsix{
	width:330px;
	height:40px;
	margin-left:40px;
	margin-top:13px;

}
.input-feildseven{
	width:330px;
	height:40px;
	margin-left:50px;
}
.input-feildeight{
	width:330px;
	height:40px;
	margin-left:40px;
	margin-top:20px;

}
.input-feildnine{
	width:330px;
	height:40px;
	margin-left:50px;
}